<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ teaching.name }}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content #content padding>
  <div id="chatMessages">
    <div class="message" *ngFor="let message of messages; let num = index; let last = last">
      <div *ngIf="num == 0">
        <div class="interbar">{{ message.date }}</div>
      </div>
      <div *ngIf="num != 0">
        <div class="interbar" *ngIf="message.date != messages[num-1].date">{{ message.date }}</div>
      </div>
      <div *ngIf="!(message.receiver != currentUser.email && message.type == 'private') || message.sender == currentUser.email"
           [class]="message.sender == currentUser.email ? 'innerMessage messageRight' : 'innerMessage messageLeft'">
        <div class="mail">{{ message.sender }}
          <label *ngIf="message.receiver == currentUser.email"> (private)</label>
          <label *ngIf="message.sender == currentUser.email && message.type == 'private'"> (to {{ message.receiver }})</label>
        </div>
        <div class="message">{{ message.body }}</div>
        <div class="msgtime">{{ message.hour }}</div>
      </div>
      {{ last ? goBottom() : '' }}
    </div>
  </div>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-item><ion-input type="text" [(ngModel)]="msgbody"></ion-input></ion-item>
    <ion-item>
      <ion-select [(ngModel)]="receiver">
        <ion-option *ngFor="let u of participants" value="{{ u.email }}">{{ u.email }}</ion-option>
        <ion-option value="public" [selected]="true">Public</ion-option>
      </ion-select>
    </ion-item>
    <ion-buttons end>
      <button ion-button icon-only (click)="sendMessage()"><ion-icon name="send"></ion-icon></button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
