<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Your Daily Lectures</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-card *ngFor="let l of lectures">
    <ion-item>
      <h2>{{ l.teaching.name }} ({{ l.teaching.cfu }})</h2>
      <p>Prof: {{l.teaching.user.name}} {{l.teaching.user.surname}}</p>
      <p>Classroom: {{ l.classroom.name }}</p>
      <p>Hour: {{ l.starttime }} - {{ l.endtime }}</p>
    </ion-item>
    <ion-card-content>
      <div *ngIf="show">
        <img id="map_canvas" />
      </div>
    </ion-card-content>
    <ion-row>
      <ion-col>
        <button ion-button icon-start clear small (click)="showMap(l.classroom.latitude, l.classroom.longitude)">
          <ion-icon name="compass"></ion-icon>
          <div>Show Map</div>
        </button>
      </ion-col>
      <ion-col center text-center>
        <ion-note>
          #{{ lectures.indexOf(l)+1 }}
        </ion-note>
      </ion-col>
    </ion-row>
  </ion-card>
  <h2 *ngIf="lectures.length == 0">There are no lectures today!!! Are you happy? :)</h2>
</ion-content>
