<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Your Daily Lectures</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-item-group>
    <ion-card *ngFor="let l of lectures">
      <br>
      <h2>Teaching: {{ l.teaching.name }} ({{ l.teaching.cfu }})</h2>
      <ion-item>Classroom: {{ l.classroom.name }}
        <button ion-button [block]="false" (click)="showMap(l.classroom.latitude, l.classroom.longitude)">Show Map</button>
        <ion-item *ngIf="show">
          Qui vanno le mappe google
        </ion-item>
      </ion-item>
      <ion-item>Hour: {{ l.hour }}, Duration {{ l.duration }}</ion-item>
    </ion-card>
    <h2 *ngIf="lectures.length == 0">There are no lectures today!!! Are you happy? :)</h2>
  </ion-item-group>
</ion-content>
