<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>ChatList</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-item-group>
    <ion-card *ngFor="let t of teachings">
      <ion-item>{{ t.name }} ({{ t.cfu }})</ion-item>
      <button ion-button [block]="false" (click)="openTeaching(t)">Go to Teaching Page!</button>
    </ion-card>
    <h2 *ngIf="teachings.length == 0">There are no teachings!</h2>
  </ion-item-group>
</ion-content>
