<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>ChatList</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let t of teachings">
      <h4>{{ t.name }} ({{ t.cfu }})</h4>
      <p>Prof. {{ t.user.name }} {{ t.user.surname }}</p>
      <button ion-button (click)="openChat(t)" clear item-end>Open</button>
    </ion-item>
  </ion-list>
  <h2 *ngIf="teachings.length == 0">There are no teachings!</h2>
</ion-content>
