<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{ teaching.name }} ({{ teaching.cfu }})</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-item-group>
    <ion-card *ngFor="let l of lectures">
      <ion-item>{{ l.date }} Classroom: {{ l.classroom.name }}</ion-item>
      <ion-item>Hour: {{ l.hour }} - {{ l.duration }}</ion-item>
      <ion-item>Description: {{ l.description }}</ion-item>
      <ion-item *ngIf="l.hide_material">
        <ion-list *ngFor="let tm of l.tmaterials">
          <ion-item>
            <ion-card>
              <ion-card-content>
                <a href="{{ tm.link }}">{{ tm.name }}</a>
              </ion-card-content>
              <button ion-button (click)="RateMaterial(tm)" clear>Rate the material!</button>
            </ion-card>
          </ion-item>
        </ion-list>
      </ion-item>
      <ion-buttons end>
        <button ion-button [block]="false" (click)="showMaterial(l)">Show teaching material!</button>
      </ion-buttons>
      <ion-buttons end>
        <button ion-button [block]="false" (click)="RateLecture(l)">Rate the lecture!</button>
      </ion-buttons>
    </ion-card>
    <h2 *ngIf="lectures.length == 0">There are no lectures!</h2>
  </ion-item-group>
</ion-content>

